body {
    margin: 0;
    overflow: hidden;
}

.page:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    background-image: url(/assets/img/background_512p.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.size1080p .page:before {
    background-image: url(/assets/img/background.png);
}

.page>div {
    position: relative;
}

#header {
    color: #fff;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 2.3em;
    margin: 0px 0px -15px 0px;
    padding-top: 10px;
    width: 100%;
}

.axis-x path,
.axis-x line {
    fill: none;
    stroke: black;
}

.axis-y path,
.axis-y line {
    fill: none;
    stroke: black;
}

.bar-label-points {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-anchor: end;
    font-style: italic;
}

.bar-label-team {
    font-family: "Lato", sans-serif;
    font-size: 36px;
    font-weight: 900;
    text-anchor: start;
}

.sizeSmall #header {
    font-size: 2em;
}

.sizeSmall .bar-label-points {
    font-size: 24px;
}

.sizeSmall .bar-label-team {
    font-size: 22px;
}

.sizeMedium #header {
    font-size: 3em;
}

.sizeMedium .bar-label-points {
    font-size: 40px;
}

.sizeMedium .bar-label-team {
    font-size: 36px;
}

.size1080p #header {
    font-size: 6em;
    margin: 0px;
    padding-top: 0px;
}

.size1080p .bar-label-points {
    font-size: 70px;
}

.size1080p .bar-label-team {
    font-size: 70px;
}

div.wideLayout {
    display: flex;
    flex-direction: row;
}

.wideLayout #header {
    width: unset;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}